.pulldownmenucell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EAEAEA;
	color: #990000;
	margin-right: 0px;
	border: 1px solid #660000;
 } 
 
 .requiredpulldownmenucell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFCC;
	color: #990000;
	margin-right: 0px;
	border: 1px solid #660000;
 } 

.fieldcell input { 
 width: 250px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px; 
} 

.requiredfieldcell input { 
 width: 250px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px; 
} 

.requiredstatefieldcell input { 
 width: 20px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px; 
} 

.fieldcell textarea { 
 width: 348px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px; 
} 

.requiredfieldcell textarea { 
 width: 388px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px; 
} 

.smallfieldcell input { 
 width: 100px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
} 

.smallfieldcell select { 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
}


.button input { 
 font-family: Tahoma, Arial, Helvetica;
 font-size: 9pt;
 font-weight: normal;
 color: #000000;
 margin-left: 12px; 
 margin-top: 3px; 
 margin-bottom: 2px; 
 border: 1px;
}

textarea {
	border: 1px solid #660000;
}

.zipcell input {
 width: 75px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000;
}

.requiredzipcell input {
 width: 75px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000;
}

.phonecell input {
 width: 100px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000;
}

.requiredphonecell input {
 width: 100px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000;
}

.datecell input {
 width: 80px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000;
}

.requireddatecell input {
 width: 80px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000;
}

.boldformcopy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.multilinetextbox {
 width: 535px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.reqmultilinetextbox {
 width: 550px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.requirednamefieldcell {
 width: 180px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.namefieldcell {
 width: 180px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.smrequirednamefieldcell {
 width: 150px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.smnamefieldcell {
 width: 150px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #0990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.initialfieldcell {
 width: 15px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}


.requiredaddressfieldcell {
 width: 475px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.requiredcityfieldcell {
 width: 475px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.addressfieldcell {
 width: 475px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.cityfieldcell {
 width: 475px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.requiredstatefieldcell {
 width: 25px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.statefieldcell {
 width: 25px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #990000;
}

.tableheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #990000;
}

.tablebody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.tablebodycolor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #EAEAEA;
}

.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #0000B9;
}

a, a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.requiredsmaddressfieldcell {
 width: 375px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.smaddressfieldcell {
 width: 375px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.smallpulldownmenucell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EAEAEA;
	color: #990000;
	border: 1px solid #660000; 
	margin-right: 0px;
	width: 225px;
}

.reqsmallpulldownmenucell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFCC;
	color: #990000;
	border: 1px solid #660000; 
	margin-right: 0px;
	width: 225px;
}

.xtrasmnamefieldcell {

width: 125px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.lgnamefieldcell {
 width: 300px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.smallmultilinetextbox {
 width: 450px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.xtrasmrequirednamefieldcell {
 width: 125px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.medpulldownmenucell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EAEAEA;
	color: #990000;
	margin-right: 0px;
	width: 350px;
}

.reqxtrasmlpulldownmenucellCopy {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFCC;
	color: #990000;
 	border: 1px solid #660000; 
	margin-right: 0px;
	width: 150px;
}

.longmultilinetextbox {
 width: 450px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.reqorderseverity {
 width: 20px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000;
}

.datecellyear input {
 width: 60px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000;
}

.requireddatecellyear input {
 width: 60px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000;
}

.reqlongmultilinetextbox {
 width: 450px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.xtrasmallmultilinetextbox {
 width: 250px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #EAEAEA; 
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.reqxtrasmmultilinetextbox {
 width: 250px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}

.longrequirednamefieldcell {
 width: 350px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}
.reversebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.reqinitialfieldcell {

 width: 15px; 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #FFFFCC;
 color: #990000; 
 border: 1px solid #660000; 
 margin-right: 0px;
}
.reditalicboldformcopy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	font-style: italic;
}

button {
	border:1px solid #CCCCCC;
	background-color:#CCCCCC;
	padding:3px;
	margin-right:6px;
	color: 
}

button:hover {
	background-color:#FFFFCC;
}

.hidden {display:none}

.tables table { 
	font-size:13px;
	text-align: left;
}

.tables th {
	background-color:#999999;
	color: #FFFFFF;
	text-align: left;
}
